* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 30px;
    background: #DBABFF;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #F5E8FF;
  }
  
  .header h1 {
    font-size: 90px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #A3A3FF;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #3B3B3B;
    text-align: center;
    padding: 20px 80px;
    text-decoration: none;
  }
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 50%;
    padding: 150px;
  }
  
   /* Add a card effect for articles  */
  .card {
    background-color:	#F5E8FF;
    padding: 40px;
    margin-top: 40px;
  }